<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <h2><%- lang('loginOptions.loginOptionsTitle') %></h2>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMojang" class="loginOptionButton">
                        <img src="assets/images/SealCircle.png" width="22" height="22" style="margin-right: 8px; object-fit: contain;" alt="NovaWorld">
                        <span><%- lang('loginOptions.loginWithMojang') %></span>
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton"><%- lang('loginOptions.cancelButton') %></button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>